<template>
    <div class="login">
        <h2 class="h2-title">{{ title }}</h2>
        <form method="post" @submit.prevent="login">

            <input type="text" class="input" v-model="loginForm.phone" placeholder="Ведите номер телефона или email">

            <input type="password" class="input" v-model="loginForm.password" placeholder="Ведите пароль">

            <div class="remember">
                <div class="checkbox">
                    <input class="custom-checkbox" type="checkbox" id="color-1" name="color-1" value="indigo">
                    <label for="color-1">Запомнить пароль</label>
                </div>
            </div>
            <button type="submit">Войти</button>
            <p><a href="/account/registration" class="forgot">Зарегистрироваться</a> или <a href="/account/restore" class="forgot">Востанавить пароль</a></p>
        </form>
        <p class="rules-lic">При входе вы подтверждаете <a href="#" class="lic-a">согласие</a> с условиями использования Новоселия и <a href="#" class="lic-a">политикой о данных пользователей</a>.</p>
    </div>
</template>

<script>
export default {
    name: "Login",
    data() {
        return {
            title: 'Войти',
            loginForm: {
                phone: null,
                password: null
            },
            methods: {
                login() {
                    return null;
                }
            },
        }
    }
}
</script>

<style lang="scss">
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;

    .h2-title {
        margin-right: auto;
        color: #000000;
    }

    form {
        width: 1260px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .input {
            width: 300px;
            height: 40px;
            border-radius: 5px;
            margin: 10px;
            ::-webkit-input-placeholder { /* WebKit browsers */
                color: green;
                padding-left: 15px ;
            }
            :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color: green;
                padding-left: 15px ;
            }
            ::-moz-placeholder { /* Mozilla Firefox 19+ */
                color: green;
                padding-left: 15px ;
            }
            :-ms-input-placeholder { /* Internet Explorer 10+ */
                color: green;
                padding-left: 15px ;
            }
        }

        button {
            border: 0 solid #8EE4AF;
            background-color: #8EE4AF;
            width: 200px;
            height: 40px;
            border-radius: 4px;
            font: 16px sans-serif;
            margin-top: 10px;
        }

        .remember{
            display: flex;
            flex-direction: row;
        }

        .forgot{
            color: #0B61A4;
        }

        /* для элемента input c type="checkbox" */
        .custom-checkbox {
            position: absolute;
            z-index: -1;
            opacity: 0;
        }

        /* для элемента label, связанного с .custom-checkbox */
        .custom-checkbox+label {
            display: inline-flex;
            align-items: center;
            user-select: none;
        }

        /* создание в label псевдоэлемента before со следующими стилями */
        .custom-checkbox+label::before {
            content: '';
            display: inline-block;
            width: 1em;
            height: 1em;
            flex-shrink: 0;
            flex-grow: 0;
            border: 1px solid #adb5bd;
            border-radius: 0.25em;
            margin-right: 0.5em;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }

        /* стили при наведении курсора на checkbox */
        .custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
            border-color: #b3d7ff;
        }

        /* стили для активного чекбокса (при нажатии на него) */
        .custom-checkbox:not(:disabled):active+label::before {
            background-color: #b3d7ff;
            border-color: #b3d7ff;
        }

        /* стили для чекбокса, находящегося в фокусе */
        .custom-checkbox:focus+label::before {
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }

        /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
        .custom-checkbox:focus:not(:checked)+label::before {
            border-color: #80bdff;
        }

        /* стили для чекбокса, находящегося в состоянии checked */
        .custom-checkbox:checked+label::before {
            border-color: #0b76ef;
            background-color: #0b76ef;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        }

        /* стили для чекбокса, находящегося в состоянии disabled */
        .custom-checkbox:disabled+label::before {
            background-color: #e9ecef;
        }
    }
    .rules-lic{
        font: 14px sans-serif;
        .lic-a{
            color: #0B61A4;
            font: 14px sans-serif;
        }
    }
}


</style>
