
/****************************/
/** РАЗМЕР И ЖИРНОСТЬ ШРИФТА**/
/****************************/
.fs13 {    font-size: 1.3em!important;}
.fs12 {    font-size: 1.2em!important;}
.fs11 {    font-size: 1.1em!important;}
.fs1 {    font-size: 1em!important;}
.fs09 {    font-size: 0.9em!important;}
.fs085 {    font-size: 0.85em!important;}
.fs08 {    font-size: 0.8em!important;}
.fs075 {    font-size: 0.75em!important;}
.fs07 {    font-size: 0.7em!important;}
.font-8 {    font-size: 8px !important;}
.font-10 {    font-size: 10px !important;}
.font-11 {    font-size: 11px !important;}
.font-12 {    font-size: 12px !important;}
.font-13 {    font-size: 13px !important;}
.font-14 {    font-size: 14px !important;}
.font-15 {    font-size: 15px !important;}
.font-16 {    font-size: 16px !important;}
.font-18 {    font-size: 18px !important;}
.font-20 {    font-size: 20px !important;}
.font-21 {    font-size: 21px !important;}
.font-22 {    font-size: 22px !important;}
.font-24 {    font-size: 24px !important;}
.weight-300 {    font-weight: 300 !important;}
.weight-400 {    font-weight: 400 !important;}
.weight-500 {    font-weight: 500 !important;}
.weight-600 {    font-weight: 600 !important;}
.weight-700 {    font-weight: 700 !important;}

/****************************/
/** ЦВЕТ ШРИФТА**/
/****************************/
.txt-orange-x {    color: #FF6859 !important;}
.txt-l-orange-x {    color: #ff8e6c !important;}
.txt-bluue-x {    color: #17a2b8 !important;}
.txt-l-bluue-x {    color: #17d0e6 !important;}
.txt-green-x {    color: #5BB33D!important;}
.txt-light-x {    color: #ffffff !important;}
.txt-light-grey-x {    color: #b2b2b2 !important;}
.txt-grey-x {    color: #444444 !important;}
.txt-grey-x-x {    color: #999999 !important;}
.txt-ell-x {    color: #FED700 !important;}
.txt-dark {    color: #212121 !important;}
.txt-grey {    color: #7C7C7C !important;}
.txt-ultra-grey {    color: #bfbfbf !important;}
.txt-ultra-grey1 {    color: #bcbcbc !important;}
.txt-light-grey {    color: #dedede !important;}
.txt-ultra-light-grey {    color: #f2f2f2 !important;}
.txt-info,.text-info {    color: #f742aa !important;}
.txt-warning,.text-warning {    color: #e3c94b !important;}
.txt-primary,.text-primary {    color: #635bd6 !important;}
.txt-success,.text-success {    color: #76c880 !important;}
.txt-light-green {    color: #AED581 !important;}
.txt-ultra-light-green {    color: #e9fdd2 !important;}
.txt-light-blue {    color: #958FEF !important;}
.txt-danger,.text-danger {    color: #f73414 !important;}
.txt-purple {    color: #ac235c !important;}
.txt-beige {    color: #f7ce99 !important;}
.txt-gold {    color: #e58b25 !important;}
.txt-orange {    color: #f16e3c !important;}
.txt-brown {    color: #6d300e !important;}
.text-right {    text-align: right !important;}
.text-left {    text-align: left !important;}

/****************************/
/** БЕКГРАУНД*/
/****************************/
.bg-green,.bg-success {    background: #76c880 !important;}
.bg-light-green {    background: #AED581 !important;}
.bg-xtra-light-green {    background: #DCEDC8 !important;}
.bg-ultra-light-green {    background: #eff7e5 !important;}
.bg-light-blue {    background: #958FEF !important;}
.bg-seagreen {    background: #007153 !important;}
.bg-grey {    background: #878787 !important;}
.bg-light-grey {    background: #eaeaea !important;}
.bg-low-grey {    background: #EAEAEA !important;}
.bg-xtra-light-grey {    background: #F4F4F4 !important;}
.bg-ultra-light-grey {    background: #fcfcfc !important;}
.bg-yellow,.bg-warning {    background: #e3c94b !important;}
.bg-red,.bg-danger {    background: #f73414 !important;}
.bg-blue,.bg-primary {    background: #635bd6 !important;}
.bg-blue-x-x {    background: #17a2b8 !important;}
.bg-green-x-x {    background: #5BB33D !important;}
.bg-orange-x-x {    background: #FF6859 !important;}
.bg-danger-x-x {    background: #DC3545 !important;}
.bg-ultra-blue {    background: #f2f1ff !important;}
.bg-pink,.bg-info {    background: #f742aa !important;}
.bg-purple {    background: #ac235c !important;}
.bg-ultra-orange {    background: #fff2ed !important;}
.bg-orange {    background: #f16e3c !important;}
.bg-gold {    background: #e58b25 !important;}
.bg-brown {    background: #6d300e !important;}
.bg-beige {    background: #f7ce99 !important;}
.bg-light {    background: #fff !important;}
.bg-dark {    background: #212121 !important;}
.bg-gradient {    background: linear-gradient(45deg, #2E2C33, #909090) !important;}
.bg-gradient-modal {    background: linear-gradient(to bottom left, #2c2f33, #17A2B8) !important;}
.bg-gradient1 {    background: linear-gradient(45deg, #45c0ba, #76c880) !important;}
.bg-gradient2 {    background: linear-gradient(45deg, #f16e3c, #e3c94b) !important;}
.bg-gradient3 {    background: linear-gradient(45deg, #705be1, #52d8c6) !important;}
.bg-gradient4 {    background: linear-gradient(45deg, #f742aa, #ac235c) !important;}
.bg-transparent {    background: transparent !important;}
.bg-none {    background: none !important;}
.bg-twitter {    background: #00aced !important;}
.bg-box-shadow-go {
    border-radius: .25rem;
    padding: 10px 10px;
    background: #fff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }
.bg-gradient5 {
    background: #eeeeee !important;
    color: #ffffff; }
.bg-gradient5 h2 {
    color: #626262!important; }


/****************************/
/** РАЗДЕЛИТЕЛИ*/
/****************************/
hr {
    margin-top: 10px;
    margin-bottom: 15px;
    border-top: 1px solid #76c880; }
hr.light-grey-hr {
    border-top: 1px solid #dedede; }
.hr1 {
    height: 1px; }
.hr2 {
    height: 0;
    border-bottom: 1px solid #eee; }
.hr3 {
    height: 0;
    border-bottom: 1px dotted #eee; }
.hr4 {
    height: 0;
    border-bottom: 1px dashed #eee; }
.hr5 {
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0)); }
.hr10 {
    height: 2px;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 104, 89, 0.15), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 104, 89, 0.15), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 104, 89, 0.15), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(255, 104, 89, 0.15), rgba(0, 0, 0, 0)); }
.hr6 {
    height: 0;
    border-bottom: 1px solid #ffffff; }
.hr7 {
    width: 50%;
    height: 0px;
    border-bottom: 1px solid #EBEBEB; }
.hr11 {
    height: 0;
    border-bottom: 1px solid #c0c0c0; }
.hr12 {
    height: 0;
    border-bottom: 1px solid #EAEAEA!important; }
.hr13 {
    height: 0;
    border-bottom: 1px solid #9BC8FE; }
.seprator-block {
    margin-bottom: 50px; }
.seprator-block-prod {
    height: 420px;
    width: auto; }

/****************************/
/** МАРДЖИНЫ и ПАДДИНГИ**/
/****************************/
.pa-0 {    padding: 0px !important;}
.pa-5 {    padding: 5px !important;}
.pa-10 {    padding: 10px !important;}
.pa-15 {    padding: 15px !important;}
.pa-20 {    padding: 20px !important;}
.pa-25 {    padding: 25px !important;}
.pa-30 {    padding: 30px !important;}
.pt-0 {    padding-top: 0px !important;}
.pt-5 {    padding-top: 5px !important;}
.pt-10 {    padding-top: 10px !important;}
.pt-15 {    padding-top: 15px !important;}
.pt-20 {    padding-top: 20px !important;}
.pt-25 {    padding-top: 25px !important;}
.pt-30 {    padding-top: 30px !important;}
.pt-35 {    padding-top: 35px !important;}
.pt-40 {    padding-top: 40px !important;}
.pt-45 {    padding-top: 45px !important;}
.pt-50 {    padding-top: 50px !important;}
.pb-0 {    padding-bottom: 0px !important;}
.pb-5 {    padding-bottom: 5px !important;}
.pb-10 {    padding-bottom: 10px !important;}
.pb-15 {    padding-bottom: 15px !important;}
.pb-20 {    padding-bottom: 20px !important;}
.pb-25 {    padding-bottom: 25px !important;}
.pb-30 {    padding-bottom: 30px !important;}
.pb-35 {    padding-bottom: 35px !important;}
.pb-40 {    padding-bottom: 40px !important;}
.pb-45 {    padding-bottom: 45px !important;}
.pb-50 {    padding-bottom: 50px !important;}
.pl-0 {    padding-left: 0px !important;}
.pl-5 {    padding-left: 5px !important;}
.pl-10 {    padding-left: 10px !important;}
.pl-15 {    padding-left: 15px !important;}
.pl-20 {    padding-left: 20px !important;}
.pl-25 {    padding-left: 25px !important;}
.pl-30 {    padding-left: 30px !important;}
.pl-35 {    padding-left: 35px !important;}
.pl-40 {    padding-left: 40px !important;}
.pl-45 {    padding-left: 45px !important;}
.pl-50 {    padding-left: 50px !important;}
.pr-0 {    padding-right: 0px !important;}
.pr-5 {    padding-right: 5px !important;}
.pr-10 {    padding-right: 10px !important;}
.pr-15 {    padding-right: 15px !important;}
.pr-20 {    padding-right: 20px !important;}
.pr-25 {    padding-right: 25px !important;}
.pr-30 {    padding-right: 30px !important;}
.pr-35 {    padding-right: 35px !important;}
.pr-40 {    padding-right: 40px !important;}
.pr-45 {    padding-right: 45px !important;}
.pr-50 {    padding-right: 50px !important;}
.pr-60 {    padding-right: 60px !important;}
.pr-70 {    padding-right: 70px !important;}
.pr-80 {    padding-right: 80px !important;}
.ma-0 {    margin: 0px !important;}
.ma-5 {    margin: 5px !important;}
.ma-10 {    margin: 10px !important;}
.ma-15 {    margin: 15px !important;}
.ma-20 {    margin: 20px !important;}
.ma-25 {    margin: 25px !important;}
.ma-30 {    margin: 30px !important;}
.mt-0 {    margin-top: 0px !important;}
.mt-2 {    margin-top: 2px !important;}
.mt-3 {    margin-top: 3px !important;}
.mt-5 {    margin-top: 5px !important;}
.mt-10 {    margin-top: 10px !important;}
.mt-15 {    margin-top: 15px !important;}
.mt-20 {    margin-top: 20px !important;}
.mt-25 {    margin-top: 25px !important;}
.mt-30 {    margin-top: 30px !important;}
.mt-35 {    margin-top: 35px !important;}
.mt-40 {    margin-top: 40px !important;}
.mt-45 {    margin-top: 45px !important;}
.mt-50 {    margin-top: 50px !important;}
.mt-55 {    margin-top: 55px !important;}
.mt-60 {    margin-top: 60px !important;}
.mt-65 {    margin-top: 65px !important;}
.mt-70 {    margin-top: 70px !important;}
.mt-75 {    margin-top: 75px !important;}
.mt-80 {    margin-top: 80px !important;}
.mt-85 {    margin-top: 85px !important;}
.mt-90 {    margin-top: 90px !important;}
.mt-95 {    margin-top: 95px !important;}
.mb-0 {    margin-bottom: 0px !important;}
.mb-5 {    margin-bottom: 5px !important;}
.mb-10 {    margin-bottom: 10px !important;}
.mb-15 {    margin-bottom: 15px !important;}
.mb-20 {    margin-bottom: 20px !important;}
.mb-25 {    margin-bottom: 25px !important;}
.mb-30 {    margin-bottom: 30px !important;}
.mb-35 {    margin-bottom: 35px !important;}
.mb-40 {    margin-bottom: 40px !important;}
.mb-45 {    margin-bottom: 45px !important;}
.mb-50 {    margin-bottom: 50px !important;}
.mb-55 {    margin-bottom: 55px !important;}
.mb-60 {    margin-bottom: 60px !important;}
.mb-65 {    margin-bottom: 65px !important;}
.mb-70 {    margin-bottom: 70px !important;}
.mb-75 {    margin-bottom: 75px !important;}
.mb-80 {    margin-bottom: 80px !important;}
.mb-85 {    margin-bottom: 85px !important;}
.mb-90 {    margin-bottom: 90px !important;}
.mb-95 {    margin-bottom: 95px !important;}
.ml-0 {    margin-left: 0px !important;}
.ml-5 {    margin-left: 5px !important;}
.ml-10 {    margin-left: 10px !important;}
.ml-15 {    margin-left: 15px !important;}
.ml-20 {    margin-left: 20px !important;}
.ml-25 {    margin-left: 25px !important;}
.ml-30 {    margin-left: 30px !important;}
.ml-35 {    margin-left: 35px !important;}
.ml-40 {    margin-left: 40px !important;}
.ml-45 {    margin-left: 45px !important;}
.ml-50 {    margin-left: 50px !important;}
.ml-55 {    margin-left: 55px !important;}
.ml-60 {    margin-left: 60px !important;}
.mr-0 {    margin-right: 0px !important;}
.mr-5 {    margin-right: 5px !important;}
.mr-10 {    margin-right: 10px !important;}
.mr-15 {    margin-right: 15px !important;}
.mr-20 {    margin-right: 20px !important;}
.mr-25 {    margin-right: 25px !important;}
.mr-30 {    margin-right: 30px !important;}
.mr-35 {    margin-right: 35px !important;}
.mr-40 {    margin-right: 40px !important;}
.mr-45 {    margin-right: 45px !important;}
.mr-50 {    margin-right: 50px !important;}
.mr-55 {    margin-right: 55px !important;}
.mr-60 {    margin-right: 60px !important;}
.ml-auto {    margin-left: auto !important;}
.mr-auto {    margin-right: auto !important;}



.no-float {
    float: none !important;
}

.overflow-hide {
    overflow: hidden !important;
}

.clearfix {
    overflow: hidden;
    clear: both;
    float: none;
}

.preloader-it {
    background: #fff;
    position: fixed;
    z-index: 10001;
    height: 100%;
    width: 100%;
    overflow: hidden;
}



.go-prepind {
    width: 30.25px!important;
}

.zametka-text {
    line-height: 1.1em!important;
    font-size: 0.8em;
}

.zametka-text1 {
    width: 80%;
    line-height: 1em;
    background-color: #EFF5F5;
    padding: 5px;
    border-radius: 0.25rem;
}

.zametka-text2 {
    width: 80%;
    line-height: 1em;
    background-color: #EFF7E5;
    padding: 5px;
    border-radius: 0.25rem;
}

.zametka-text-p {
    top: -0.9em;
    padding: 0.3em 1em;
    line-height: 1.1em!important;
    font-size: 0.8em;
}

. go-accordion {
    text-decoration: none!important;
}

.pole-otklik {
    height: 27em!important;
    overflow-x: hidden;
}
.pole-otklik1 {
    height: 27em!important;
    overflow-x: hidden;
}

span.count {
    font-size: 0.929em;
    color: #ffffff;
    padding: 0px 0.231em 0px;
}

.go-header {
/*тест на отступы*/
}

.go-logo {
    position: absolute;
    left: 2em;
    top: -5px;
}

.go-logo-go {
    font-size: 2.5em;
    font-weight: bolder;
    color: #17A2B8;
}

.go-logo-0 {
    font-size: 3em;
    font-weight: bolder;
    color: #ff6859;
}


.top-bar {
    background-color: #EFF5F5; }
    .schetchik {
        margin-left: 1em!important;
        background-color: #ff6859;
        height: 1.6em!important;
        width: 1.6em!important;
        font-size: 1em;
        line-height: 1.6em;
        font-weight: 500;
        border: none;
        color: #fff;
       }

.go-a-obv {
background-color: #1eb41e;
}

.btn-success {
    background-color: #5bb33d !important;
    border: 1px solid #5bb33d !important;
    font-weight: 400;
    color: #ffffff!important;
}

.btn-success:hover {
    background-color: #17bad0 !important;
    border: 1px solid #17bad0 !important;
}

.btn-info {
    background-color: #17A2B8!important;
    border: 1px solid #17A2B8 !important;
    font-weight: 400;
    color: #ffffff!important;
}

.btn-info:hover {
    background-color: #17bad0 !important;
    border: 1px solid #17bad0 !important;
}

.btn-primary {
    background-color: #FD6602!important;
    border: 1px solid #FD6602 !important;
    font-weight: 400;
    color: #ffffff!important;
}

.btn-primary:hover {
    background-color: #17bad0 !important;
    border: 1px solid #17bad0 !important;
}

.btn-no-activ {
    color: #fff;
    background-color: #bbbbbb;
    border-color: #bbbbbb;
}
.btn-no-activ:hover {
    color: #fff;
    background-color: #7C7C7C;
    border-color: #7C7C7C;
}

/*класс для ссылок - иезде где надо*/
.go-a-hover a:hover {
    color: #ff6859!important;
}

.go-sp-btn {
 min-width:180px!important;
    font-weight: 500!important;
}

.go-new {
padding-right: 21em;
}

.yamm-content-row a:hover {
    color: #ff6859!important;
}
/*Кнопка для кнопки селектов в поиске*/
.btn-light {
    color: #212529;
    background-color: #ffffff;
    border-color: #ffffff;
    font-weight: 300;
}

.btn-light:hover {
    background-color: #ff6859 !important;
    border: 1px solid #ff6859!important;
    color: #fff!important;
}

/*Фон для виджета и Выежающая Портянка для Випов вверху основной страницы*/
.go-product1 {
    background-color: #ffffff !important;
    border: 1px solid #17A2B8!important;
    margin-bottom: 0.2em;
}
.go-product2 {
    background-color: #9bc8fe !important;
    }

/*Фон для виджета ВСЕ Объявления и выежающей */
.go-product3 {
    background-color: #ffffff!important;
}
.go-product4 {
    background-color: #ffffff !important;
}
.go-product5 {
    background-color: #ffffff !important;
}

.bg-green-x {
    background-color: #CCFFC6 !important;
}

.vibor-pols {
    width: 100%;
    }
.vibor-pols-raz {
    width: 70%;
    border-bottom: 1px solid #EBEBEB;
    margin: 1px 0px;
}


/*Фон для виджета и Выежающая Портянка для Випов вверху основной страницы*/
.go-product,.go-product11 {
    background-color: #ccffc6 !important;
    border-left: 1px solid #ffffff!important;
    border-bottom: 1px solid #ffffff!important;
    border-right: 1px solid #ffffff!important;
}
.go-product11 {
    border-left: 2px solid #ffffff!important;
    border-bottom: 1px solid #ffffff!important;
    border-right: 2px solid #ffffff!important;
}

@media (min-width: 768px) and (max-width: 1138px) {
    .go-product11 {
        border-left: 2px solid #ccffc6!important;
        border-bottom: 1px solid #ccffc6!important;
        border-right: 2px solid #ccffc6!important;
    } }


.dropdown-menu {
/*  position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;*/
    font-size: 0.95rem;
/*    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;*/
}


/*
стрелка в менюшке при подстановке класса эктив
*/

.go-active::before {
    display: inline-block;
    width: 15px;
    text-align: center;
    color: #FF6859; }
    .go-active:first-child::before {
        content: "»"; }
.go-active:hover::before {
    color: #17A2B8; }


.navbar-search .input-group .input-group-btn {
    font-size: 1.066em; }
.navbar-search button {
    font-weight: 400;
    font-size: 0.85em;
    /*min-width: 9.067em; */
}

.navbar-search1 button {
    font-weight: 400;
    font-size: 0.9em!important;
    /*min-width: 9.067em; */
}

.dropdown-menu-go {
    font-size: 0.85rem;
    font-weight: 400;
    color: #444444;
    height: 1.7em;
}

.dropdown-header {
    font-size: .80rem;
    color: #8d98a0;
    white-space: nowrap;
    height: 1.9em;
}

/*ПАГИНАЦИЯ */
.go-input-group input {
    padding: 6px 9px!important; }
    .go-input-group button {
        border: 1px solid #DEE2E6; }
    .go-input-group button:hover {
        border: 1px solid #17A2B8;
        background-color: #17A2B8;
        color: #ffffff!important; }
    .go-pagination .page-link{
        color: #BCBCBC;
    }
    .go-pagination .active a.page-link {
        background-color: #17A2B8!important;
        border: 1px solid #17A2B8;
    }
    .go-pagination a.page-link:hover {
        background-color: #17A2B8!important;
        border: 1px solid #17A2B8;
        color: #ffffff!important;
    }
    .go-pagination .disabled a.page-link {
        color: #BCBCBC;
    }



input[type="search"],
textarea,
.input-text {
    padding: 3px 9px;
    background-color: #fff;
    color: #444;
    outline: none;
    border: 0;
    -webkit-appearance: none;
    border-radius: .25rem;
    box-sizing: border-box;
    font-weight: normal;
    font-size: 0.95em;
    border: 1px solid #ebebeb; }
input[type="search"]:focus,
textarea:focus,
.input-text:focus {
    color: #464a4c;
    background-color: #fff;
    border-color: #5cb3fd;
    outline: none; }


.go-zag-2-uroven {
     font-size: 2.2em!important;
     font-weight: bold;
     text-transform: uppercase;
     color: #878787 !important;
 }

.go-zag-3-uroven {
    font-size: 1.2em!important;
    font-weight: bold;
    text-transform: uppercase;
    color: #878787 !important;
}

.go-zag-4-uroven {
    font-size: 1.2em!important;
    font-weight: bold;
    text-transform: uppercase;
    color: #FF6859 !important;
}

.go-zag-5-uroven {
    font-size: 1em!important;
    font-weight: bold;
    text-transform: uppercase;
    color: #878787 !important;
}
.go-zag-6-uroven {
    font-size: 0.8em!important;
    font-weight: bold;
    text-transform: uppercase;
    color: #FF6859;
}

.go-zag-7-uroven {
    font-size: 1.3em!important;
    font-weight: 500;
}
.go-zag-8-uroven {
    font-size: 1em!important;
    font-weight: bold;
    text-transform: uppercase;
    color: #17A2B8 !important;
}

.novost-mini {
    height: 9.5em;
    overflow: hidden;
    font-style: italic;
}

.i-izbr {
    position: absolute;
    top: -1px;
    left: 0px;
    text-indent: 0;
    font-size: 1.229em;
    z-index: 1;
    background-color: #444444;
    border-top-left-radius: inherit;
    border-bottom-right-radius: inherit;
    opacity: 70%;
    padding: 0em 0.2em; }
    .i-izbr:hover {
        opacity: 90%; }
    .i-knop:hover {
        color: #FF6859!important; }

.close-i {
    position: absolute;
    right: 0.3em;
}
.close-i:hover {
    color: #DC3545;
    cursor: pointer;
}

/*шильдики для города, даты, рубрики вип объявления*/
.tip {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    text-indent: 0;
    font-size: 0.7em;
    z-index: 0;
    background-color: #444444;
    opacity: 70%;
    padding: 0em 0em 0.3em 0em;
    color: #fff; }
    .tip2 {
        position: absolute;
        bottom: 19px;
        right: 0px;
        left: 0px;
        text-indent: 0;
        z-index: 0;
        background-color: #444444;
        opacity: 70%;
        padding: 0em;
        color: #fff;
        margin-bottom: 1px;
    }
    .i-izbr-x {
        border-top-left-radius: 5px!important;
        border-bottom-right-radius: 5px!important;
    }
    .go-product4 .tip2 {
        border-left: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
    }
    .go-product4 .tip {
        border-left: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
    }
.go-product311-mr {
    margin-right: 3px;
    margin-left: 3px;
}

.bok-3 {
border-left: 1px solid #EBEBEB;
}

    .btn-go-funciya,.btn-go-funciya2 {
    border: 2px solid #FF6859!important;
    background: none!important;
    color: #FF6859!important;
    padding: 0.1em 0.3em 0em 0.3em!important; }
    .btn-go-funciya:hover {
        border: 2px solid #FF6859!important;
        background: none!important;
        color: #17a2b8!important;
        padding: 0.1em 0.3em 0em 0.3em!important;}
    .btn-go-funciya2:hover {
        border: 2px solid #f73414!important;
        background: #f73414!important;
        color: #ffffff!important;
        padding: 0.1em 0.3em 0em 0.3em!important;
    }


.go-bottom-ob {
    height: 3em;
}

.go-gorod-ob {
    font-size: 0.9em;
    font-weight: 300;
}

.go-data-view {
    color: #FF6859;
    font-size: inherit;
}
.amount {
    /*color: #FF6859;*/
    font-size: 0.9em;
}

.go-img-lk {
     height: 2.3em;
     margin-right: 0.5em;
 }



/*СОЦИАЛКИ*/
.odnoklassniki-i {
    background-color: #F58326!important;
    border: 1px solid #F58326!important;
    padding: 0.3em 0.6em 0.3em 0.6em!important;
}
.youtube-i {
    background-color: #bb0000!important;
    border: 1px solid #bb0000!important;
    padding: 0.3em 0.6em 0.3em 0.6em!important;
}
.vk-i {
    background-color: #6182AC!important;
    border: 1px solid #6182AC!important;
    padding: 0.3em 0.3em 0.3em 0.3em!important;
}
.facebook-i {
    background-color: #0183FF!important;
    border: 1px solid #0183FF!important;
    padding: 0.3em 0.6em 0.3em 0.6em!important;
}
.viber-i {
    background-color: #7A509C!important;
    border: 1px solid #7A509C!important;
}
.telegram-i {
    background-color: #31A8E0!important;
    border: 1px solid #31A8E0!important;
    padding: 0.3em 0.4em 0.3em 0.5em!important;
}
.whatsapp-i {
    background-color: #37B525!important;
    border: 1px solid #37B525!important;
    padding: 0.3em 0.5em 0.3em 0.5em!important;
}
.googleplus-i {
    background-color: #dd4b39!important;
    border: 1px solid #dd4b39!important;
    padding: 0.3em 0.3em 0.3em 0.3em!important;
}
.instagram-i {
    background-color: #3f729b!important;
    border: 1px solid #3f729b!important;
    padding: 0.3em 0.4em 0.3em 0.4em!important;
}
.viber-i {
    background-color: #665CAC!important;
    border: 1px solid #665CAC!important;
    padding: 0.3em 0.4em 0.3em 0.5em!important;
}
.skype-i {
    background-color: #00AFF0!important;
    border: 1px solid #00AFF0!important;
    padding: 0.3em 0.5em 0.3em 0.5em!important;
}
.twitter-i {
    background-color: #1DA1F2!important;
    border: 1px solid #1DA1F2!important;
    padding: 0.3em 0.4em 0.3em 0.4em!important;}

/*ПОДЕЛИТЬСЯ В СОЦСЕТЯХ*/
.twitter-btn {
    background-color: #1DA1F2!important;
    border: 1px solid #1DA1F2!important;
    width: 34px;}
.instagram-btn {
    background-color: #3f729b!important;
    border: 1px solid #3f729b!important;
    width: 34px;}
.odnoklassniki-btn {
    background-color: #F58326!important;
    border: 1px solid #F58326!important;
    width: 34px;}
.vk-btn {
    background-color: #6182AC!important;
    border: 1px solid #6182AC!important;
    width: 34px;}
.telegram-btn {
    background-color: #31A8E0!important;
    border: 1px solid #31A8E0!important;
    width: 34px;}
.facebook-btn {
    background-color: #0183FF!important;
    border: 1px solid #0183FF!important;
    width: 34px;}

.logo-company {
    height: 100px!important;
}

/*Виджет - сохраненый поиск*/
.dropdown-menu-mini-cart-poisk {
    left: -11em!important;
    right: auto;
    top: 140%!important;
}

.go-sp-zag-a {
    font-size: 0.9em;
    font-weight: 400;
    color: #FD6602!important;
}

.go-sp-zag-span {
    font-size: 0.85em;
    font-weight: 400;
    color: #444444!important;
    padding-left: 0.3em;
}

.go-sp-zag-span1 {
    font-size: 0.9em;
    font-weight: 400;
    color: #17A2B8!important;
    padding-left: 0.3em;
}
.zagolovok-posled-poisk {
    color: #ffffff;
    background-color: #878787;
    font-size: 0.9em;
    text-align: center;
    position: absolute;
    top: -0.58em;
    left: -0.01em;
    padding: 0.3em 0em;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border: 1px solid #878787;
}

.zagolovok-poisk-lk {
    color: #ffffff;
    background-color: #878787;
    font-size: 1em;
    text-align: left;
    padding: 0.3em 0em;
    position: relative;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border: 1px solid #878787;
}

.zagolovok-poisk {
    color: #444444;
    font-weight: 500;
    background-color: #EFF5F5;
    font-size: 0.9em;
    text-align: center;
    position: relative;
    top: -0.9em;
    padding: 0.3em 0em;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border: 1px solid #9BC8FE;
}

.zagolovok-poisk7 {
    color: #17A2B8;
    font-weight: 400;
    font-size: 0.9em;
    text-align: center;
    position: relative;
    padding: 0.3em 0em;
    top: -10px;
}

.zagolovok-dob-ob {
    color: #444444;
    font-weight: 500;
    background-color: #d3ffc1;
    font-size: 0.9em;
    text-align: center;
    position: relative;
    top: -0.9em;
    padding: 0.3em 0em;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border: 1px solid #9BC8FE;
}

.zagolovok-ob {
    color: #444444;
    font-weight: 500;
    background-color: #CCFFC6;
    font-size: 1.1em;
    /*text-align: center;*/
    position: relative;
    top: -0.9em;
    padding: 0em 0em 0.3em 0em;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border: 1px solid #CCFFC6;
}




.text-muted:first-child{
    color: #17A2B8!important;
    font-size: 0.85em;
}

.zagolovok-ob-tip {
    font-size: 1em;
    background-color: #ffffff;
    border-radius: 3em;
    padding-left: 15px;
    padding-right: 15px;
    color: #FF6859 !important;
    font-weight: 500!important;
}
.zagolovok-ob-h1 {
    font-size: 1.8em!important;
    letter-spacing: -1px; }
.cena-ob {
    font-size: 1.5em!important;
    letter-spacing: -1px;
}

.btn-border-r {
    border-right: 2px solid #7C7C7C!important;
}

.go-inp-searh-gr-sm {
    width: 100%!important;
}

.count-lk {
    float: right;
    margin-top: 3px;
    margin-right: 5px;
    background: #17A2B8;
    padding: 3px 5px 3px 5px!important;
    border-radius: 6px;
    line-height: 0.7em!important;
    color: #ffffff!important;
}
.count-lk-serv {
    float: right;
    margin-top: 3px;
    margin-right: 5px;
    background: #5BB33D;
    padding: 3px 5px 3px 5px!important;
    border-radius: 6px;
    line-height: 0.7em!important;
    color: #ffffff!important;
}
.count-lk-polz {
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 1px 4px 1px 4px!important;
    border-radius: 6px;
    line-height: 0.9em!important;
    font-size: 0.9em;
    font-weight: 500;
    color: #ffffff;
}

.count-lk-verx-menu {
    font-size: 0.8em;
    float: right;
    margin-right: 0px;
    background: #17A2B8;
    padding: 3px 5px 3px 5px!important;
    border-radius: 6px;
    line-height: 0.7em!important;
    color: #ffffff!important;
}
.count-lk1 {
    float: right;
    margin-top: 3px;
    margin-right: 0px;
    background: #5BB33D;
    padding: 3px 5px 3px 5px!important;
    border-radius: 6px;
    line-height: 0.7em!important;
    color: #ffffff!important;
}
.count-lk2 {
    float: right;
    margin-top: 3px;
    margin-right: 5px;
    background: #7C7C7C;
    padding: 3px 5px 3px 5px!important;
    border-radius: 6px;
    line-height: 0.7em!important;
    color: #ffffff!important;
}

.vopros-count {
    border-radius: .25rem;
    border: 1px solid #9BC8FE;
    background-color: #17A2B8;
    color: #ffffff;
}

.vopros-count:hover {
    background-color: #EFF5F5;
}

.go-ul-rub a {
    font-size: 1.3em!important;
    color: #7C7C7C!important;
}

.go-ul-rub span {
    font-size: 0.85em!important;
    color: #7C7C7C;
}

.filter-i {
position: absolute;
    left: 0.5em;
    top: 0.5em;
}


.c-wight {
    width: 400px!important;
    height: auto;
    position: relative;
}


.popover-header {
/*    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    color: inherit;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;*/
    border-top-left-radius: calc(.0rem - 1px);
    border-top-right-radius: calc(.0rem - 1px);
}

.none-bord-bottom {
border-bottom: none!important;
}

.widget-area {
 margin-top: -0.4em!important;
}

.p-left{
    padding-left: 0.3em;
}

.go-menu-left {
padding-left: 10em;
}

.go-menu-right {
    padding-right: 5em;
}

@media (max-width: 1199px){
    .go-menu-left {
        padding-left: 1em;
    }

    .go-menu-right {
        padding-right: 3em;
    }
}

@media (min-width: 1200px) {
    .go-menu-left {
        padding-left: 27.5em;
    }

    .go-menu-right {
        padding-right: 7.3em;
    }
}

.select-sort {
    font-size: 1.1em!important;
    font-weight: 400!important;
    color: #444444!important;
}

.avtor-avatar {
    display: inline;
    vertical-align: baseline;
    width: 4em;
    height: 2.3em;
}
.ul-rubrika {
    list-style-type: none;
    margin-left: 0px!important;
    margin-bottom: 0em!important;
}
.go-3span {
    position: absolute;
    color: #b2b2b2;
    margin-top: 1.4em;
    margin-left: 4em;
    font-weight: 400;
}
.go-3span-verx {
    position: absolute;
    color: #b2b2b2;
    margin-top: -0.8em;
    margin-left: 5em;
    font-size: 0.8em;
    font-weight: 400;
}
.go-stat-servis {
    color: #b2b2b2;
    font-size: 0.8em;
    font-weight: 500;
}
.go-stat-servis-polz {
    color: #ffffff;
    font-size: 0.8em;
    font-weight: 500;
}

.stat-icon {
    max-width: 62px;
    margin-top: 5px!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
    padding-top: 3px!important;
    border: none;
    border-radius: 0.25rem;
    color: #ffffff;
    background: linear-gradient(to bottom left, #17A2B8, #185f76) !important;
}

.stat-icon-polz {
    max-width: 72px;
    margin-top: 5px!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
    padding-top: 3px!important;
    border: none;
    border-radius: 0.25rem;
    color: #ffffff;
    background: linear-gradient(to bottom left, #2E2C33, #FF6859) !important;)
}





/* Блок автор на большом объявлении*/
.go-3span1 {
    position: absolute;
    color: #999999;
    margin-top: 1.4em;
    margin-left: 4em;
    font-weight: 400;
}
.go-3span-verx1 {
    position: absolute;
    color: #999999;
    margin-top: -0.8em;
    margin-left: 5em;
    font-size: 0.85em;
    font-weight: 400;
}

.go-img-lk1 {

}

.border-glavnoe-pole {
    border-color: #FF6859!important;
}

.text-ob-prev:hover {
    cursor: pointer;
    color: #17A2B8;
}

/* Выпадающее поле контакты-сообщение автору*/
.go-batton-cont {
    width: 100%; }
    .go-card-body {
        border: none;
        width: 100%!important; }
    .go-avtor-napi {
        width: 100%!important; }
    .go-secondary {
      color: #ffffff;
      background-color: #6C757D; }
    .go-secondary-bord {
        border: 1px solid #EBEBEB }
    .go-secondary-bord-drop {
        /*width: 90px!important;*/
        min-width: 90px!important;
        font-size: 0.75em!important;
    }


/* Данные по автору - одиночное объявление*/
.go-avtor-reyt {
    font-size: 0.7em; }
    .go-avtor-name {
    font-weight: 500; }
    .go-avtor-tip {
    font-size: 0.9em;
    }

.go-3text-ob {
    height: 135px;
    overflow: hidden;
    font-weight: 400;
    color: #b2b2b2;
}

.go-3text-ob-odno {
    font-weight: 400;
    color: #b2b2b2;
}
.go-3text-ob-odno1 {
    font-weight: 400;
    color: #444444;
}

/* рейтинг-вид объявл*/
.reiting-go {
    font-size: 0.7em;
    margin-left: 4.3em;
    position: absolute;
    top: 0em;
}



/* ГАЛЛЕРЕЯ ФЕНСИБОКС*/
.tab-content2 {
    padding: 0rem; }
    .tab-content2 > .tab-pane {
        display: none; }
    .tab-content2 > .active {
        display: block; }
    .go-wrapper-gal {
        height: 400px;
        outline: none;
        overflow: hidden;
    }
    .nav-item-foto {
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.06);
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear; }
    .nav-item-foto:hover{
        box-shadow: 0px 6px 32px 0px rgba(0, 0, 0, 0.13);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
        transform: translateY(-5px); }
    .nav-item-foto3 {
        -webkit-transition: all 200ms linear;
        -moz-transition: all 200ms linear;
        -o-transition: all 200ms linear;
        -ms-transition: all 200ms linear;
        transition: all 200ms linear; }
    .nav-item-foto3:hover{
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
        transform: translateY(-5px); }
    .nav-item-foto1 {
        position: absolute; }
.foto-priv {
    width: 114px;
    height: 75px;
    max-height: calc(100% - 8px);
    max-width: calc(50% - 4px);
    outline: none;
    overflow: hidden;
}
.foto-priv1 {
    width: 114px;
    height: auto;
    max-height: calc(100% - 8px);
    max-width: calc(50% - 4px);
    outline: none;
    overflow: hidden;
}

.foto-priv2 {
    width: 103px;
    height: 103px;
    max-height: calc(100% - 8px);
    max-width: calc(50% - 4px);
    outline: none;
    overflow: hidden;
}

.gggkkk {
    font-size: 0;
    height: 100%;
    list-style: none;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    position: relative;
    white-space: nowrap;
    width: 100%;
}

.gggkkk1 {
    font-size: 0;
    height: 100%;
    list-style: none;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    position: relative;
    width: 70px;
}

.ul-rubrika-odno1 {
    font-size: 0.9rem!important;
    list-style-type: none;
    margin-left: 0px!important;
    margin-bottom: 0em!important;
}
.ul-rubrika-odno {
  font-size: 1rem!important;
  list-style-type: none;
    margin-left: 0px!important;
    margin-bottom: 0em!important;
}
    .img-go-priviu {
        border-radius: 0px!important;
    }
.separator-wrap{
    width:100%;
    min-height: 1px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto; }
    .separator-wrap p{
        margin-bottom: 0;
        padding-left: 1rem;
        padding-right: 1rem; }
    .separator{
        position: relative;
        -webkit-box-flex: 1;
        flex: 1 1 auto;
        min-width: 10%; }
    .separator-line{
        position: relative;
        height: 1px;
        display: block;
        top: 0px;
        width: 100%;
        border-top: 1px solid #e3e3e3; }

@media all and (min-width: 768px) {
    .fancybox-thumbs {
        top: auto;
        width: auto;
        bottom: 0;
        left: 0;
        right : 0;
        height: 95px;
        padding: 10px 10px 5px 10px;
        box-sizing: border-box;
        background: rgba(0, 0, 0, 0.3);
    }

    .fancybox-show-thumbs .fancybox-inner {
        right: 0;
        bottom: 95px;
    }
}


.go-priv-ob:hover {
    font-weight: 500!important;
}
/*полоски в минигаллерее*/
.poloska {
    position: relative;
    top: -2em;
    width: 1.8em;
    height: 20px;
    margin: 0em 0.1em;
    border-bottom: 5px solid #8e9d8c; }
    .poloska:hover {
         border-bottom: 5px solid #ffffff;
    }
.poloska1 {
    position: relative;
    top: -2em;
    width: 1.8em;
    height: 20px;
    margin: 0em 0.1em;
    border-bottom: 5px solid #8e9d8c; }
.poloska1:hover {
    border-bottom: 5px solid #ffffff;}
.poloska2 {
    position: relative;
    top: -2em;
    width: 1.8em;
    height: 20px;
    margin: 0em 0.1em;
    border-bottom: 5px solid #8e9d8c; }
.poloska2:hover {
    border-bottom: 5px solid #ffffff;}
    .go-cont-fl {
        position: absolute;
        left: 0em;
    }

.kategoria-tip2 {
    font-weight: 500;
    color: #17a2b8;
}


.teni {
     box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.06);
     -webkit-transition: all 200ms linear;
     -moz-transition: all 200ms linear;
     -o-transition: all 200ms linear;
     -ms-transition: all 200ms linear;
     transition: all 200ms linear;
 }
.teni:hover {
    box-shadow: 0px 6px 32px 0px rgba(0, 0, 0, 0.13);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
}

.teni1 {
    box-shadow: 4px 2px 5px 2px rgba(0, 0, 0, 0.06);
}
.teni1:hover {
    box-shadow: 4px 4px 32px 4px rgba(0, 0, 0, 0.13);
}

.photoapparat {
    left: 3.5em;
    top: 0.68em;
    z-index: 5;
    position: absolute;
    color: #A2A2A2;
    font-size: 1.229em; }
.photoapparat:hover {
    color: #FD6602;
}
input.go-input {
    padding-left: 2.5em!important;
}
input::placeholder {
    color: #CCCCCC!important;
    font-size: 0.9em;
}
.item-menu-mob {
    padding-top: 0.6em;
}

.item-menu-mob:hover  {
    color: #FD6602!important;
}


/* Меню 3 левел 4*/
.go-all-rub  {
    padding-top: 0em!important;
    padding-bottom: 0em!important;}
    .go-all-rub span {
        padding-top: 0.3em!important;
        padding-bottom: 0.3em!important;
        /*background-color: #7C7C7C;*/
        font-size: 1em!important;
        color: #17A2B8!important; }
    .go-all-rub .count-lk {
        /*background-color: #7C7C7C;*/
        font-size: 0.8em!important;
        color: #ffffff!important; }
    .go-all-rub .count-lk-serv {
        /*background-color: #7C7C7C;*/
        font-size: 0.8em!important;
        color: #ffffff!important; }
    .go-all-ul li a {
         padding-top: 0.2em!important;
         padding-bottom: 0.1em!important;
         font-size: 0.9em!important; }
    .go-all-ul li a:hover {
        color: #FF6859!important; }
    .go-current {
        background-color: #17A2B8;
        padding-bottom: 0em!important; }
    .go-current li {
        padding-top: 0.8em!important;
        padding-bottom: 0em!important;
        text-align: center;
        font-size: 1em;
        color: #ffffff!important; }
    .go-current li a {
        color: #ffffff!important;
        font-weight: 500; }
    .lk-cat {
        border-bottom: 1px solid #ececec;
        padding-bottom: 0.3em;
        padding-top: 0.3em;
    }
    .lk-cat1 {
        padding-bottom: 0.3em;
        padding-top: 0.3em;
    }
    .lk-cat-zag {
        border-bottom: 1px solid #ececec;
        padding-bottom: 0.4em!important;
        padding-top: 0.5em!important;
        cursor: default!important;
    }
    .go-lk-verx-menu {
        position: absolute;
        left: 2.5em;
    }

/* МЕДИЯ СВОЙСКИЕ под бутстрап 4*/
/* xs (меньше или равно <=543px) */
@media (max-width: 575px) {
    .products .product.go-product {
        min-height: 400px!important;
    }
    .products .product.go-product3 {
        min-height: 420px!important;
    }
    .products .product.go-product4 {
        min-height: 520px!important;
    }
    .products .product.go-product5 {
        min-height: 420px!important;
    }
    .pole-otklik {
        height: 19.1em!important;}
    .pole-otklik1 {
        height: 19.1em!important;
    }
    .go-product6 {
        min-height: 410px!important;
    }
}

/* sm (больше или равно>=576 и меньше или равно<=767) */
@media (min-width: 576px) and (max-width: 767px) {
    .products .product.go-product {
        min-height: 380px!important;
    }
    .products .product.go-product3 {
        min-height: 390px!important;
    }
    .products .product.go-product4 {
        min-height: 520px!important;
    }
    .products .product.go-product5 {
        min-height: 420px!important;
    }
    .pole-otklik {
        height: 19.1em!important;
    }
    .pole-otklik1 {
        height: 19.1em!important;
    }
    .go-product6 {
        min-height: 400px!important;
    }

}

/* md (больше или равно>=768 и меньше или равно<=991) */
@media (min-width: 768px) and (max-width: 991px) {
    .poloska {
        width: 2.7em!important;}
    .poloska1 {
        width: 2.7em!important;}
    .poloska2 {
        width: 1.5em!important;}
    .products .product.go-product {
        min-height: 400px!important;
    }
    .products .product.go-product3 {
        min-height: 400px!important;
    }
    .products .product.go-product4 {
        min-height: 510px!important;
    }
    .products .product.go-product5 {
        min-height: 400px!important;
    }
    .pole-otklik {
        height: 19.9em!important;
    }
    .pole-otklik1 {
        height: 15em!important;
    }
    .mini-btn {
        display: none;
    }
    .go-product6 {
        min-height: 380px!important;
    }
}

/* lg (больше или равно>=992 и <меньше или равно=1199) */
@media (min-width: 992px) and (max-width: 1199px) {
    .poloska {
        width: 3.5em!important;}
    .poloska1 {
        width: 3.6em!important;}
    .poloska2 {
        width: 2.0em!important;}
    .products .product.go-product {
        min-height: 420px!important;
    }
    .products .product.go-product3 {
        min-height: 420px!important;
    }
    .products .product.go-product4 {
        min-height: 540px!important;
    }
    .products .product.go-product5 {
        min-height: 420px!important;
    }
    .pole-otklik {
        height: 19.9em!important;
    }
    .pole-otklik1 {
        height: 13.3em!important;
    }
    .go-product6 {
        min-height: 480px!important;
    }
}

/* xl (больше или равно>=1200 и меньше или равно<=1398) */
@media (min-width: 1200px) and (max-width: 1398px) {
    .poloska {
        width: 1.7em!important;}
    .poloska1 {
        width: 2.7em!important;}
    .poloska2 {
        width: 1.8em!important;}
    .products .product.go-product {
        min-height: 280px!important;
    }
    .products .product.go-product3 {
        min-height: 310px!important;
    }
    .products .product.go-product4 {
        min-height: 410px!important;
    }
    .products .product.go-product5 {
        min-height: 350px!important;
    }
    .pole-otklik {
        height: 19.9em!important;
    }
    .pole-otklik1 {
        height: 13.3em!important;
    }
    .mini-btn {
        display: none;
    }
    .go-product6 {
        min-height: 340px!important;
    }
}

/* Свойский размер (больше или равно>=1399 и меньше или равно<=1589) */
@media (min-width: 1399px) and (max-width: 1589px) {
    .poloska {
        width:1.9em!important;
    }
    .poloska1 {
        width: 3.2em!important;}
    .poloska2 {
        width: 1.9em!important;}
        .products .product.go-product {
        min-height: 300px!important;
    }
    .products .product.go-product3 {
        min-height: 340px!important;
    }
    .products .product.go-product4 {
        min-height: 470px!important;
    }
    .products .product.go-product5 {
        min-height: 380px!important;
    }
     .pole-otklik {
        height: 19.9em!important;
    }
    .pole-otklik1 {
        height: 13.3em!important;
    }
    .go-product6 {
        min-height: 340px!important;
    }
}

/* свойский размер (больше или равно>=1590) */
@media (min-width: 1590px) {
    .poloska {
        width: 2.6em!important;}
    .poloska1 {
        width: 4.0em!important;}
    .poloska2 {
        width: 2.3em!important;}
    .products .product.go-product   {
        min-height: 350px!important;
    }
    .products .product.go-product3   {
        min-height: 370px!important;
    }
    .products .product.go-product4   {
        min-height: 490px!important;
    }
    .products .product.go-product5 {
        min-height: 380px!important;
    }
    .photoapparat {
        left: 10.85em!important;
    }
    .pole-otklik {
        height: 23.9em!important;
    }
    .pole-otklik1 {
        height: 15em!important;
    }
    .go-product6 {
        min-height: 400px!important;
    }
}

.btn-lk-mob {
    margin-top: -7px;
}

.telefon-raskleyka {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    font-size: 1rem;
}

.vertical-rl {
    writing-mode: vertical-rl;
    border-left: 1px dashed #4c4c4c;
    margin: 20px 0px 0px 0px!important;
    padding: 0px 10px 0px 10px!important;
    font-weight: 500;
}

.border-rasp {
    border-top: 1px dashed #4c4c4c!important;
    border-bottom: 1px dashed #4c4c4c!important;
}


.nlo-title-index {
    font-size: 1.1em!important;
    width: 150px!important;
    text-wrap: none!important;
    overflow: hidden!important;
}

.nlo-title {
    font-size: 0.95em!important;
    width: 150px!important;
    text-wrap: none!important;
    overflow: hidden!important;
}

.nlo-title1 {
    font-size: 0.90em!important;
    text-wrap: none!important;
    overflow: hidden!important;
}

.go-label-form-search {
    font-size: 0.75em!important;
    color: #999999;
    font-weight: 500;
}

.go-label-form-search1 {
    font-size: 0.85em!important;
    color: #999999;
}
.go-label-form-search2 {
    font-size: 0.75em!important;
    color: #999999;
}

.go-label-form-search3 {
    font-size: 0.85em!important;
    color: #444444;
    margin-bottom: 5px;
    margin-left: 0%;
    background-color: #D3FFC1;
    padding: 0px 10px;
    border-radius: 10px;
    margin-bottom: 10px!important;
}

.go-label-form-search4 {
    font-size: 0.85em!important;
    color: #ffffff;
    margin-bottom: 5px;
    margin-left: 0%;
    background-color: #FF6859;
    padding: 0px 10px;
    border-radius: 10px;
    margin-bottom: 10px!important;
}

.go-label-form-search5 {
    font-size: 0.85em!important;
    color: #444444;
    margin-bottom: 5px;
    margin-left: 0%;
    background-color: #E9ECEF;
    padding: 0px 10px;
    border-radius: 10px;
    margin-bottom: 10px!important;
}

.filter-go {
    border: 1px solid #EAEAEA!important;
    border-radius: .25rem;
}

.filter-go1 {
    border: 1px solid #878787!important;
    border-radius: .25rem;
}

.text-kart {
    height: 150px;
    overflow: hidden;
}

.bord {
    border-left: 1px solid #EAEAEA!important;
    border-right: 1px solid #EAEAEA!important;
}

.bord-i {
    position: absolute;
    color: #5BB33D;
    font-size: 2em!important;
    top: 40%;
    left: -25px;
    z-index: 2;
}

.bord-i1 {
    position: relative;
    color: #5BB33D;
    font-size: 2em!important;
    top: 0%;
    left: 50%;
    z-index: 2;
}

.bord-muar {
    position: absolute;
    width: 101%;
    height: 112%;
    background-color: #CCFFC6;
    opacity: 15%;
    top: -12px;
    left: -2px;
    z-index: 1;
}

.i-menu {
    margin-right: 10px;
}

.select-go0go {
    border: none;
    line-height: 1;
    color: #fff;
    font-size: 14px;
    background: transparent;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right 1.6em center;
    background-size: 11px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAVCAYAAABLy77vAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANBJREFUeNpi+P//PwMSNgDiCWhi2PBjIF6CLMbEgAoEgNiAAT8oAGIxII5GVsvEQBoAaewH4stAPBWIN0AtJ8kgAajGQiD+AsRrgPgCEC8g1SAHqMYJSGIJQKwAwiwkGLQBipHBB1g4kRpGOMGoQaMGUdMgbDleAZYhSTHoADTfoGfQBFINCoBmRhUofwI0H00g1iAWJBeBNFUA8T+oVxVICiTk4vLDx4/vP3/5AmT+TyFQ1B4AYgecRe2Lly+Pf/r06RmQeYaI4vYCsgBAgAEAh8+QV9QkJZ0AAAAASUVORK5CYII=);
}
.shop-control-bar form select.orderby::after {
    content: "\f0ec";
    font-family: "FontAwesome"; }

.select-go0go1 {
    border: 1px solid #EAEAEA;
    border-radius: .25rem;
    line-height: 1;
    color: #fff;
    font-size: 1em!important;
    background: transparent;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: right 1.6em center;
    background-size: 11px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAVCAYAAABLy77vAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANBJREFUeNpi+P//PwMSNgDiCWhi2PBjIF6CLMbEgAoEgNiAAT8oAGIxII5GVsvEQBoAaewH4stAPBWIN0AtJ8kgAajGQiD+AsRrgPgCEC8g1SAHqMYJSGIJQKwAwiwkGLQBipHBB1g4kRpGOMGoQaMGUdMgbDleAZYhSTHoADTfoGfQBFINCoBmRhUofwI0H00g1iAWJBeBNFUA8T+oVxVICiTk4vLDx4/vP3/5AmT+TyFQ1B4AYgecRe2Lly+Pf/r06RmQeYaI4vYCsgBAgAEAh8+QV9QkJZ0AAAAASUVORK5CYII=);
    }
.shop-control-bar form select.orderby::after {
    content: "\f0ec";
    font-family: "FontAwesome"; }

.komment {
font-size: 0.6em!important;
line-height: 0.9em!important;
;
}

.go-checkbox span {
    font-weight: 400;
}

.lk-tab {
    font-size: 0.9em!important;
}

/**
 * Breadcrumbs
 */
.bred {
display: inline;}
    .bred a{
        background:none!important;
    }
    .bred a:hover{
        color: #FF6859!important;}
.go-bred-a-posled {
    top: 1.15em;
    position: relative;
}
.go-bred-a-posled-i {
    position: absolute;
    right: 1.15em;
    top: 1.2em;
}
.woocommerce-breadcrumb {
    width: 100%;
    padding-left: 0.3em;
    margin-bottom: 0em;
    font-size: 0.9em;
    color: #7C7C7C;
    font-weight: 400;
    margin-top: 0em; }
.woocommerce-breadcrumb a {
    color: #7C7C7C; }
.woocommerce-breadcrumb .delimiter {
    margin: 0px 0.3em;
    font-size: 10px /*rtl:14px*/; }
.woocommerce-breadcrumb span.delimiter + a {
    background-color: #f5f5f5;
    padding: 0.6em 0.3em;
    border-radius: 4px; }
@media (max-width: 767px) {
    .woocommerce-breadcrumb span.delimiter + a {
        margin-bottom: 5px;
        display: inline-block; } }
.woocommerce-breadcrumb span.delimiter + a:hover {
    background-color: #e8e8e8; }
@media (max-width: 1199px) {
    .woocommerce-breadcrumb {
        display: none; } }






.border-go {
    border-top-left-radius: .25rem!important;
    border-bottom-left-radius: .25rem!important;
}


.go-mob-li:hover {
    background-color: #d5e3fe;
}
.go-mob-li .nav-title {
    color: #FF6859!important;
}

.handheld-navigation > .handheld-navigation-menu {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: -85%;
    width: 85%;
    height: 100%;
    transition: left 0.2s;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    transition: left 0.2s;
    z-index: 900000;
    display: block !important;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    text-align: left; }
.handheld-navigation > .handheld-navigation-menu > .nav {
    flex-direction: column; }
.handheld-navigation > .handheld-navigation-menu > .nav > li > a {
    font-weight: 100; }
.handheld-navigation > .handheld-navigation-menu a {
    color: #333e48; }

.handheld-navigation .dropdown-backdrop {
    display: none; }

.handheld-navigation.toggled > .handheld-navigation-menu {
    left: 0; }

.handheld-navigation .tmhm-close {
    display: block;
    background-color: #f1f1f1;
    cursor: pointer;
    color: #333e48;
    overflow: hidden;
    font-weight: 500;
    padding: .857em 1.387em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
.handheld-navigation .tmhm-close:before {
    font-family: "techmarket-icons";
    font-weight: 400;
    content: "\43";
    margin-right: 1em;
    display: inline-block; }

.handheld-navigation .yamm .dropdown.yamm-fw .dropdown-menu {
    position: relative; }

.handheld-navigation .nav-title, .handheld-navigation .widgettitle, .handheld-navigation .widget-title {
    font-weight: 500;
    margin-bottom: 0; }

.handheld-navigation .nav-divider {
    display: none; }

.handheld-navigation .yamm-content {
    padding: 0 0 1em 0; }
.handheld-navigation .yamm-content .vc_row {
    margin: 0; }
.handheld-navigation .yamm-content ul li {
    margin-bottom: 0; }
.handheld-navigation .yamm-content ul li a {
    padding: .2em 1.387em; }
.handheld-navigation .yamm-content ul.menu .nav-title a, .handheld-navigation .yamm-content ul .widgettitle a, .handheld-navigation .yamm-content ul .widget-title a,
.handheld-navigation .yamm-content ul:not(.menu) .nav-title {
    padding: .857em 1em .4em 1em;
    color: #333e48; }
.handheld-navigation .yamm-content ul:not(.menu) {
    padding-left: 1.387em; }
.handheld-navigation .yamm-content ul:not(.menu) .nav-title {
    font-size: 15px; }
.handheld-navigation .yamm-content ul:not(.menu) .nav-title a {
    padding: 0;
    color: #333e48; }
.handheld-navigation .yamm-content img {
    padding-bottom: 20px;
    border-radius: 0;
    padding-top: 10px; }

.handheld-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0; }
.handheld-navigation ul li.menu-item-has-children.open.show::after,
.handheld-navigation ul li.menu-item-has-children.open > a::after, .handheld-navigation ul li.menu-item-has-children.show::after,
.handheld-navigation ul li.menu-item-has-children > a::after {
    color: #555;
    float: right;
    border: none; }
.handheld-navigation ul li.menu-item-has-children > a::after {
    content: "+"; }
.handheld-navigation ul li.menu-item-has-children.show > a::after {
    content: "";
    width: 8px;
    height: 1px;
    background: #555;
    margin-top: 12px;
    margin-right: -8px; }
.handheld-navigation ul li.menu-item-has-children.open .dropdown-backdrop {
    display: none; }
.handheld-navigation ul li.menu-item-has-children a::after {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border: none;
    font-weight: 400;
    font-size: 15px; }
.handheld-navigation ul li a {
    padding: .257em 1.387em;
    display: inline-block;
    width: 100%;
    color: #333e48; }
.handheld-navigation ul li a i {
    margin-right: 10px; }
.handheld-navigation ul li.sale-clr a {
    color: #fe6f6f; }
.handheld-navigation ul li > ul {
    border-radius: 0; }
.handheld-navigation ul li > ul::after, .handheld-navigation ul li > ul::before {
    bottom: 100%;
    right: 10px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(72, 72, 72, 0);
    border-bottom-color: #ebebeb;
    border-width: 11px;
    margin-left: -7px; }
.handheld-navigation ul li ul li a {
    color: #c7c7c7; }
.handheld-navigation ul .bg-yamm-content {
    display: none; }
.handheld-navigation ul .dropdown-menu {
    position: relative;
    background-color: #ebebeb;
    width: 100%;
    transition: all .3s ease;
    border: none; }
.handheld-navigation ul .dropdown-menu li a {
    padding-left: 2.188em;
    color: #5e6267;
    font-size: .938em; }
.handheld-navigation ul .dropdown-menu .yamm-content li a {
    padding-left: 1.387em;
    font-size: .938em; }
.handheld-navigation ul .dropdown-menu .dropdown-menu {
    background-color: #f2f2f2; }
.handheld-navigation ul .dropdown-menu .dropdown-menu::after, .handheld-navigation ul .dropdown-menu .dropdown-menu::before {
    border-bottom-color: #f2f2f2; }
.handheld-navigation ul .dropdown-menu .dropdown-menu .dropdown-menu {
    background-color: whitesmoke; }
.handheld-navigation ul .dropdown-menu .dropdown-menu .dropdown-menu::after, .handheld-navigation ul .dropdown-menu .dropdown-menu .dropdown-menu::before {
    border-bottom-color: whitesmoke; }
.handheld-navigation ul .dropdown-menu .dropdown-menu .dropdown-menu .dropdown-menu {
    background-color: #fafafa; }
.handheld-navigation ul .dropdown-menu .dropdown-menu .dropdown-menu .dropdown-menu::after, .handheld-navigation ul .dropdown-menu .dropdown-menu .dropdown-menu .dropdown-menu::before {
    border-bottom-color: #fafafa; }
.handheld-navigation ul > li.open > a ul ul {
    background-color: #ebebeb; }

.handheld-navigation-menu .dropdown-submenu.show > .dropdown-menu {
    top: inherit; }


.dropzone {
    border: 1px solid #17A2B8;
    min-height: 40px;
    background: transparent;
    width: 100%!important;
    margin: 0px!important;
    font-size: 1em;
}

.dropzone .dz-preview.dz-image-preview {
    background: transparent none repeat scroll 0 0;
}

.border-info {
    border: 1px solid #17A2B8!important;
    border-radius: .25rem;
}

.text-info {
    font-size: 1em!important;
    color: #17A2B8!important;
}

.btn-vkl-modal a {
    font-weight: 400;
    font-size: 0.838em!important;
    min-width: 9.067em; }
@media (max-width: 1590px) {
    .navbar-search a {
        min-width: 4em; }
    .navbar-search a .search-btn {
        display: none; }
}

.popover-header {
    padding: .5rem .65rem!important;
    font-size: 1rem!important;
    background-color: #F4F4F4;
}