<template>
    <section class="ads">
        <h2 class="h2-title">{{ title }}</h2>
        <div class="rectangle">
            <div class="img">
                <MiniPreview :sliders="sliders"/>
            </div>
            <div class="preview">
                <div class="info">
                    <div class="location">
                        <a href="/lots/view" class="title">73,5 м<sup>2</sup>,3-х комнатная квартира</a>
                        <span>Опубликовано: 21.03.2021</span>
                        <span>3 этаж из 3</span>
                        <span>МО г.Раменский ул. ХУЙ ЗНАЕТ д.666 кв.666</span>
                        <span>м. Некрасовка <span class="underground-time"> 58 мин. <fa
                          :icon="fas.faBus"/></span></span>
                    </div>
                    <div class="info-sum">
                        <span class="sum">50 000 000 ₽ <fa :icon="fas.faArrowUp" style="color: #aa0719"/></span>
                        <span>50 000 за м<sup>2</sup></span>
                        <span class="type">Ипотека/Прямая продажа/Обмен</span>
                        <span>Проверенна в Росреестре</span>
                    </div>
                </div>
                <div>Рядом:

                    <fa class="nearby" :icon="fas.faShoppingBasket"/>
                    <fa class="nearby" :icon="fas.faBaby"/>
                    <fa class="nearby" :icon="fas.faSchool"/>
                    <fa class="nearby" :icon="fas.faHospitalAlt"/>
                    <fa class="nearby" :icon="fas.faDumbbell"/>

                </div>
                <p>Продам просторную 3х -кв. на 3 этаже 3 этажного кирпичного дома. Общая площадь квартиры - 73,5
                    ,жилая-49,4 ,кухня- 6,6 комнаты смежно -изолированные , высокие потолки ,санузел
                    раздельный.... </p>
                <div class="icons">
                    <a href="" class="icon">
                        <fa :icon="far.faHeart"/>
                        В избранное
                    </a>
                    <a href="" class="icon">
                        <fa :icon="far.faClone"/>
                    </a>
                    <a href="" class="icon">
                        <fa :icon="far.faFileAlt"/>
                    </a>
                    <a href="" class="icon">
                        <fa :icon="far.faHandshake"/>
                    </a>
                    <a href="" class="icon">
                        <fa :icon="far.faTimesCircle"/>
                    </a>

                    <a href="#" class="send">Написать</a>
                    <a href="#" class="phone">Показать телефон</a>
                    <a href="#">ЖК "Новое Раменское"</a>

                </div>
            </div>
        </div>
        <div class="rectangle">
            <div class="img">
                <MiniPreview :sliders="sliders"/>
            </div>
            <div class="preview">
                <div class="info">
                    <div class="location">
                        <a href="/lots/view" class="title">73,5 м<sup>2</sup>,3-х комнатная квартира</a>
                        <span>Опубликовано: 21.03.2021</span>
                        <span>3 этаж из 3</span>
                        <span>МО г.Раменский ул. ХУЙ ЗНАЕТ д.666 кв.666</span>
                        <span>м. Некрасовка <span class="underground-time"> 58 мин. <fa
                          :icon="fas.faBus"/></span></span>
                    </div>
                    <div class="info-sum">
                        <span class="sum">50 000 000 ₽ <fa :icon="fas.faArrowUp" style="color: #aa0719"/></span>
                        <span>50 000 за м<sup>2</sup></span>
                        <span class="type">Ипотека/Прямая продажа/Обмен</span>
                        <span>Проверенна в Росреестре</span>
                    </div>
                </div>
                <div>Рядом:

                    <fa class="nearby" :icon="fas.faShoppingBasket"/>
                    <fa class="nearby" :icon="fas.faBaby"/>
                    <fa class="nearby" :icon="fas.faSchool"/>
                    <fa class="nearby" :icon="fas.faHospitalAlt"/>
                    <fa class="nearby" :icon="fas.faDumbbell"/>

                </div>
                <p>Продам просторную 3х -кв. на 3 этаже 3 этажного кирпичного дома. Общая площадь квартиры - 73,5
                    ,жилая-49,4 ,кухня- 6,6 комнаты смежно -изолированные , высокие потолки ,санузел
                    раздельный.... </p>
                <div class="icons">
                    <a href="" class="icon">
                        <fa :icon="far.faHeart"/>
                        В избранное
                    </a>
                    <a href="" class="icon">
                        <fa :icon="far.faClone"/>
                    </a>
                    <a href="" class="icon">
                        <fa :icon="far.faFileAlt"/>
                    </a>
                    <a href="" class="icon">
                        <fa :icon="far.faHandshake"/>
                    </a>
                    <a href="" class="icon">
                        <fa :icon="far.faTimesCircle"/>
                    </a>

                    <a href="#" class="send">Написать</a>
                    <a href="#" class="phone">Показать телефон</a>
                    <a href="#">ЖК "Новое Раменское"</a>

                </div>
            </div>
        </div>
    </section>
</template>

<script>
import {fas} from "@fortawesome/free-solid-svg-icons";
import {far} from "@fortawesome/free-regular-svg-icons";

export default {
    name: "Ads",
    computed: {
        fas() {
            return fas
        },
        far() {
            return far
        },
    },

    data() {
        return {
            title: 'Недвижимость в Москве и МО',
            sliders: [
                {
                    img: '/static/1.jpg'
                },
                {
                    img: '/static/2.jpg'
                },
                {
                    img: '/static/3.jpg'
                },
            ],
        }
    }
}
</script>

<style lang="scss">
.ads {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    background-color: #fafafa;

    .h2-title {
        margin-left: 20px;
        color: #000000;
    }

    .rectangle {
        display: flex;
        flex-direction: row;
        padding-bottom: 15px;
        border-bottom: 1px solid #c0bfbf;
        margin-bottom: 15px;

        .preview {
            display: flex;
            flex-direction: column;

            .info {
                display: flex;

                .location {
                    display: flex;
                    flex-direction: column;

                    .title {
                        text-decoration: none;
                        font-weight: 600;
                        font: 20px sans-serif;
                        color: #0B61A4;
                        padding-bottom: 5px;
                    }

                    span {
                        font: 14px sans-serif;
                        padding-bottom: 5px;

                        .underground-time {
                            font: 16px sans-serif;
                            color: #999;
                        }
                    }
                }

                .info-sum {
                    display: flex;
                    flex-direction: column;
                    margin-left: auto;

                    span {
                        font: 14px sans-serif;
                        padding-bottom: 5px;
                    }

                    .sum {
                        font-weight: 600;
                        font: 20px sans-serif;
                    }
                }
            }

            .icons {
                .icon {
                    text-decoration: none;
                    padding-right: 5px;
                    font: 16px sans-serif;

                    &:hover {
                        color: #69549d;
                    }
                }

                .send {
                    text-align: center;
                    border-color: #8EE4AF;
                    background-color: #8EE4AF;
                    padding: 4px 8px;
                    border-radius: 3pt;
                    font: 14px sans-serif;
                    margin-right: 5px;
                    text-decoration: none;

                    &:hover {
                        border-color: #5CDB95;
                        background-color: #5CDB95;
                    }
                }

                .phone {
                    text-align: center;
                    border-color: #8EE4AF;
                    background-color: #8EE4AF;
                    padding: 4px 8px;
                    border-radius: 3pt;
                    font: 14px sans-serif;
                    margin-right: 5px;
                    text-decoration: none;

                    &:hover {
                        border-color: #5CDB95;
                        background-color: #5CDB95;
                    }
                }

                .date {
                    margin-right: auto;
                    font: 10px sans-serif;
                    color: #999;
                }
            }

            .nearby {
                padding-right: 5px;
                font: 16px sans-serif;
                color: #69549d;
            }
        }


        .img {
            padding: 0 20px 0 20px;

            img {
                border: 0px solid #3c3c3c;
                border-radius: 3pt;
                width: 190px;
                height: 190px;
            }
        }


    }
}
</style>
