<template>
    <div>
        <div class="lightbox" v-if="visible" @click="hide">
            <div class="exit" @click.stop="hide">&times;
            </div>
            <div class="lightbox-active">
                <div class="row-left"
                     @click.stop="prev"
                     :class="{'invisible': ! hasPrev()}">
                    <svg style="pointer-events: none;" fill="#fff" height="48" viewBox="0 0 24 24" width="48"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/>
                        <path d="M0-.5h24v24H0z" fill="none"/>
                    </svg>
                </div>
                <div class="lightbox-image" @click.stop="">
                    <img :src="sliders[index]['img']">
                </div>
                <div class="row-right"
                     @click.stop="next"
                     :class="{'invisible': ! hasNext()}">
                    <svg style="pointer-events: none;" fill="#fff" height="48" viewBox="0 0 24 24" width="48"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/>
                        <path d="M0-.25h24v24H0z" fill="none"/>
                    </svg>
                </div>
            </div>
        </div>
        <div id="slider">
            <div class="window" @mouseover="stop">
                <ul class="container" :style="containerStyle">
                    <li>
                        <a href="#" @click.prevent="show(sliders.length - 1)" class="w-full">
                            <img :src="sliders[sliders.length - 1].img" alt="">
                        </a>
                    </li>
                    <li v-for="(item, index) in sliders" :key="index">
                        <a href="#" @click.prevent="show(index)" class="w-full">
                            <img :src="item.img" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="#" @click.prevent="show(0)" class="w-full">
                            <img :src="sliders[0].img" alt="" ref="img">
                        </a>
                    </li>
                </ul>
                <ul class="direction">

                    <li class="left" @click="move(1, speed)">
                        <svg class="left-row" fill="#fff" height="40" viewBox="0 0 24 24" width="40"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/>
                            <path d="M0-.5h24v24H0z" fill="none"/>
                        </svg>
                    </li>
                    <li class="right" @click="move(-1, speed)">
                        <svg class="right-row" fill="#fff" height="40" viewBox="0 0 24 24" width="40"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/>
                            <path d="M0-.25h24v24H0z" fill="none"/>
                        </svg>
                    </li>
                </ul>
            </div>


        </div>

    </div>

</template>

<script>
export default {
    name: "Gallary",
    props: {
        initialSpeed: {
            type: Number,
            default: 30
        },
        initialInterval: {
            type: Number,
            default: 4
        },
        sliders: {
            type: Array,
            defaults: []

        }
    },
    data() {
        return {
            visible: false,
            sizeImg: 540,
            index: 0,
            currentIndex: 1,
            transitionEnd: true,
            distance: -540,
            speed: this.initialSpeed,
        }
    },
    computed: {
        containerStyle() {
            return {
                transform: `translate3d(${this.distance}px, 0, 0)`
            }
        },
        interval() {
            return this.initialInterval * 1000
        }
    },
    mounted() {
        window.addEventListener('keydown', this.onKeydown)
        //this.init()
        this.sizeImg = this.$refs.img ? (this.$refs.img.width + 7) : 540
        this.distance = -1 * this.sizeImg

    },
    destroyed() {
        window.removeEventListener('keydown', this.onKeydown)
    },
    methods: {
        init() {
            this.play()
            window.onblur = function () {
                this.stop()
            }.bind(this)
            window.onfocus = function () {
                this.play()
            }.bind(this)
        },
        move(direction, speed) {
            let offset = this.sizeImg
            if (!this.transitionEnd) return
            this.transitionEnd = false
            direction === -1 ? this.currentIndex += offset / this.sizeImg : this.currentIndex -= offset / this.sizeImg
            if (this.currentIndex > this.sliders.length) this.currentIndex = 1
            if (this.currentIndex < 1) this.currentIndex = this.sliders.length

            const destination = this.distance + offset * direction
            this.animate(destination, direction, speed)
        },
        animate(des, direc, speed) {
            if (this.temp) {
                window.clearInterval(this.temp)
                this.temp = null
            }
            this.temp = window.setInterval(() => {
                if ((direc === -1 && des < this.distance) || (direc === 1 && des > this.distance)) {
                    this.distance += speed * direc
                } else {
                    this.transitionEnd = true
                    window.clearInterval(this.temp)
                    this.distance = des
                    if (des < -(this.sliders.length * this.sizeImg)) this.distance = (-1 * this.sizeImg)
                    if (des > (-1 * this.sizeImg)) this.distance = -1 * (this.sliders.length * this.sizeImg)
                }
            }, 20)
        },
        jump(index) {
            const direction = index - this.currentIndex >= 0 ? -1 : 1
            const offset = Math.abs(index - this.currentIndex) * this.sizeImg
            const jumpSpeed = Math.abs(index - this.currentIndex) === 0 ? this.speed : Math.abs(index - this.currentIndex) * this.speed
            this.move(offset, direction, jumpSpeed)
        },
        play() {
            if (this.timer) {
                window.clearInterval(this.timer)
                this.timer = null
            }
            this.timer = window.setInterval(() => {
                this.move(this.sizeImg, -1, this.speed)
            }, this.interval)
        },
        stop() {
            window.clearInterval(this.timer)
            this.timer = null
        },


        show(index) {
            this.index = index;
            this.visible = true;
        },
        hide() {
            this.visible = false;
            this.index = 0;
        },
        hasNext() {
            return this.index + 1 < this.sliders.length;
        },
        hasPrev() {
            return this.index - 1 >= 0;
        },
        prev() {
            if (this.hasPrev()) {
                this.index -= 1;
            }
        },
        next() {
            if (this.hasNext()) {
                this.index += 1;
            }
        },
        onKeydown(e) {
            if (this.visible) {
                switch (e.key) {
                    case 'ArrowRight':
                        this.next();
                        break;
                    case 'ArrowLeft':
                        this.prev();
                        break;
                    case 'ArrowDown':
                    case 'ArrowUp':
                    case ' ':
                        e.preventDefault();
                        break;
                    case 'Escape':
                        this.hide();
                        break;
                }
            }
        },
    },

}
</script>
<style scoped>

.left-row {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 25px;
}

.right-row {
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 25px;
}

.lightbox {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: self-start;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.exit {
    position: fixed;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    cursor: pointer;
    font-size: 2.25rem;
    line-height: 2.5rem;
    padding: 0.25rem;
    margin: 0.5rem;
    bottom: 0;
    right: 5px;
    top: 5px;
}

.lightbox-active {
    display: flex;
    margin-top: 5%;
}

.row-left, .row-right {
    cursor: pointer;
    align-self: center;
    padding: 0 2rem;
}

.lightbox-image img {
    width: 922px;
    height: 744px;
    max-width: 100%;
    max-height: calc(100vh - 90px);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

img {
    width: 533px;
    height: 400px;
}

#slider {
    text-align: center;
}

.window {
    position: relative;
    width: 808px;
    height: 400px;
    border: 0px solid #3c3c3c;
    border-radius: 3pt;
    margin: 0 auto;
    overflow: hidden;
}

.container {
    display: flex;
    position: absolute;
}

.left, .right {
    position: absolute;
    /*top: 50%;*/
    /* transform: translateY(-50%);*/
    width: 60px;
    height: 400px;
    background-color: rgba(0, 0, 0, .3);
    /*border-radius: 50%;*/
    cursor: pointer;
    z-index: 30;
}

.left {
    left: -30px;
    /* padding-left: 12px;
     padding-top: 10px;*/
}

.right {
    right: -30px;
    /*padding-right: 12px;
    padding-top: 10px;*/
}

img {
    user-select: none;
    margin-right: 4px;
}

.dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.dots li {
    display: inline-block;
    width: 20px;
    height: 5px;
    margin: 0 1px;
    border: 1px solid #69549d;
    border-radius: 10%;
    background-color: #333;
    cursor: pointer;
}

.dots .dotted {
    background-color: #69549d;
}


</style>
