<template>
    <div class="header">
        <div class="logo">
            <a href="/"><img src="/static/logo1.png"/></a>
        </div>
        <div class="city">
            <select>
                <option>Москва</option>
            </select>
        </div>
        <div class="left">
            <div>
                <a href="" class="icon-header">
                    <fa :icon="far.faClone"/>
                </a>
                <a href="" class="icon-header">
                    <fa :icon="far.faCommentDots"/>
                </a>
            </div>
            <div>
                <a href="#" class="add">
                    Добавить объявление
                </a>
            </div>
            <div class="account">
                <a href="/account/login">Войти</a>
            </div>
        </div>
    </div>
</template>

<script>
import {fas} from '@fortawesome/free-solid-svg-icons'
import {far} from '@fortawesome/free-regular-svg-icons'
export default {
    layout: 'default',
    computed: {
        fas() {
            return fas
        },
        far() {
            return far
        },
    },
}
</script>

<style lang="scss">

.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap; /*перенос строки */
    justify-content: space-between; /*прижимает содержимое к краям */
    align-items: center; /*выравнивает элементы по центру на вертикальной */


    .add {
        border-color: #8EE4AF;
        background-color: #8EE4AF;
        padding: 8px;
        text-decoration: none;
        border-radius: 4px;
        font: 12px sans-serif;
        margin-left: 20px;
        margin-right: 20px;
    }

    .city {
        margin-right: auto;
    }

    .add:hover {
        border-color: #5CDB95;
        background-color: #5CDB95;
    }

    .left {
        margin-left: auto;
        display: flex;

        .icon-header{
            font-size: 20px;
            margin-left: 10px;
            :hover {
                color: #69549d;
            }
        }
    }

    .hamburger {
        display: none;
    }

    .logo {
        padding-left: 20px;
        img {
            height: 80px;
        }
    }


    .account {

    }
}



@media (max-width: 375px) {
    .header {
        .hamburger {
            display: block;
        }
    }

    .menu {
        display: none;
    }
}


</style>
