<template>
    <div class="menu">
        <nav>
            <ul>
                <li v-for="item in $store.state.menu">
                    <a href={item.link}>
                        {{ item.label }}
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</template>

<script>
export default {
    name: "Subheader",
    data() {
        return {
        }
    }
}
</script>

<style lang="scss" scoped>
.menu {
    margin-right: auto;
    width: 100%;

    nav ul {
        display: flex;
        list-style: none;

        li {
            margin: 20px 10px;

            :hover {
                border-bottom: 2px solid #1b1e21;
            }

            a {
                text-decoration: none;
            }
        }
    }
}

</style>
