<template>
    <section class="you-views">
        <h2>Вы смотрели</h2>
        <div class="square">
            <div class="img">
                <MiniPreview :offset="190" :sliders="sliders"/>
            </div>
            <a href="#" class="title">3-х комнатная квартира</a>
            <div class="info">
                <span>50 000 000₽</span>
                <span>Можайск</span>
                <span>Сегодня 16:03</span>
            </div>
            <div class="icons">
                <a href="" class="icon">
                    <fa :icon="far.faHeart"/>
                    В избранное
                </a>
                <a href="" class="icon">
                    <fa :icon="far.faClone"/>
                </a>
                <a href="" class="icon">
                    <fa :icon="far.faFileAlt"/>
                </a>
                <a href="" class="icon">
                    <fa :icon="far.faTimesCircle"/>
                </a>
            </div>
        </div>
        <div class="square">
            <div class="img">
                <MiniPreview :offset="190" :sliders="sliders"/>
            </div>
            <a href="#" class="title">3-х комнатная квартира</a>
            <div class="info">
                <span>50 000 000₽</span>
                <span>Можайск</span>
                <span>Сегодня 16:03</span>
            </div>
            <div class="icons">
                <a href="" class="icon">
                    <fa :icon="far.faHeart"/>
                    В избранное
                </a>
                <a href="" class="icon">
                    <fa :icon="far.faClone"/>
                </a>
                <a href="" class="icon">
                    <fa :icon="far.faFileAlt"/>
                </a>
                <a href="" class="icon">
                    <fa :icon="far.faTimesCircle"/>
                </a>
            </div>
        </div>
    </section>
</template>

<script>
import {fas} from '@fortawesome/free-solid-svg-icons'
import {far} from '@fortawesome/free-regular-svg-icons'
export default {
    name: "YouViews",
    data(){
        return{
            sliders: [
                {
                    img: '/static/1.jpg'
                },
                {
                    img: '/static/2.jpg'
                },
                {
                    img: '/static/3.jpg'
                },
            ],
        }
    },
    computed: {
        fas() {
            return fas
        },
        far() {
            return far
        },
    },
}
</script>

<style lang="scss">
.you-views {
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #fafafa;
    /*border-right: 1px solid #968f8f;*/

    h2{
        color: #000000;
    }

    .square {
        display: flex;
        flex-direction: column;
        max-width: 200px;
        background-color: #fafafa;
        border: 1px solid #968f8f;
        border-radius: 3pt;
        margin: 3pt;
        padding: 20px;
        .img{
            padding: 5px;
            img{
                border: 0px solid #3c3c3c;
                border-radius: 3pt;
                width: 190px;
                height: 190px;
            }
        }
        .title{
            text-decoration: none;
            font-weight: 600;
            font: 20px sans-serif;
            color: #0B61A4;
            padding-bottom: 20px;
        }
        .info {
            padding-bottom: 20px;
        }
        .icons {
            .icon {
                text-decoration: none;
                padding-right: 5px;
                font: 14px sans-serif;
                &:hover {
                    color: #69549d;
                }
            }
        }
        .info{
            display: flex;
            flex-direction:column;
            span{
                font: 16px sans-serif;
                color: #999;
            }
        }
    }

}
</style>
