<template>
    <div class="wrapper">
        <Header/>
        <Subheader/>
        <Nuxt/>
        <Footer/>
    </div>
</template>

<script>

export default {
}
</script>

<style lang="scss">
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1260px;
}

a {
    font: 16px sans-serif;
    color: #1b1e21;
    text-decoration: none;
}

p, span{
    color: #444c5c;
}



@media (max-width: 375px) {
    .wrapper {
        margin: auto;
    }


    .header {
        .hamburger {
            display: block;
        }
    }

    .menu {
        display: none;
    }
}
</style>
