<template>
    <div class="main">
        <YouViews/>
        <Ads/>
    </div>
</template>

<script>

import YouViews from "../components/YouViews";
import Ads from "../components/Ads";
export default {
    components: {YouViews, Ads},
}
</script>

<style lang="scss">
.main {
    display: flex;
    flex-direction: row;
    margin-right: auto;
}
</style>
