<template>
    <Gallary :sliders="sliders"/>
</template>

<script>
import Gallary from "../../../components/Gallary";
export default {
    name: "index",
    components: {Gallary},
    data()
    {
        return {
            sliders:[
                {
                    img:'/static/1.jpg'
                },
                {
                    img:'/static/2.jpg'
                },
                {
                    img:'/static/3.jpg'
                },

            ],
        }

    }
}
</script>

<style scoped>

</style>
